* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #050505;
  --super-dark-grey: #1f1f1f;
  --dark-grey: #2d2d2d;
  --grey: #3a3a3a;
  --light-grey: #757575;
  --super-light-grey: #e9e9e9;
  --off-white: #f4f4f4;
  --white: #fff;
  --purple: #a445ed;
  --blood-orange: #ff5252;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

body[data-theme="dark"] {
  background: var(--black);

  h1,
  h2,
  p,
  li,
  span,
  button,
  input,
  a {
    color: var(--white) !important;
  }

  .nav {
    &__font-dropdown {
      &-options {
        box-shadow: 0px 0 20px 0 rgba(164, 69, 237, 0.7);
        background: var(--super-dark-grey);
      }
    }

    &__theme-toggler {
      input::after {
        background: var(--purple);
      }
    }
  }

  .search {
    input {
      background: var(--super-dark-grey);

      &:focus {
        outline: 2px solid var(--off-white);
      }

      + span {
        color: var(--blood-orange) !important;
      }
    }
  }

  .word {
    &__item {
      &-meanings {
        &-example {
          color: var(--light-grey) !important;
        }
        h2::after {
          background: var(--grey);
        }
      }

      &-source {
        border-color: var(--grey);
      }
    }
  }
}

.container {
  padding: 24px;
  max-width: 816px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $md) {
  .container {
    padding: 60px 40px 40px 40px;
  }
}
