.search {
  display: flex;
  align-items: center;
  margin-top: 30px;
  position: relative;

  input {
    flex: 1;
    border: none;
    color: var(--dark-grey);
    background: var(--off-white);
    border-radius: 16px;
    height: 48px;
    padding: 0 0 0 16px;
    font-weight: 700;
  }

  button {
    position: absolute;
    right: 16px;

    img {
      height: 16px;
      width: 16px;
      display: block;
    }
  }
}

@media (min-width: $md) {
  .search {
    margin-top: 50px;
    input {
      padding: 0 48px 0 24px;
      font-size: 20px;
      height: 64px;
    }

    button {
      right: 24px;
    }
  }
}
